body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
    position: absolute;
    top: 2px;
    left: 982px;
}

#canvas {
    width: 1224px;
    height: 576px;
    display: block;
}

#legendarea {
    position: absolute;
    border: 1px solid black;
    left: 1045px;
    top: 50px;
    width: 160px;
    padding: 4px;
    display: inline-block;
    font-size: 0.95em;
    white-space: nowrap;
    background-color: rgb(185,200,211);
}

.legendtitle {
    min-height: 24px;
    font-weight: bold;
    text-align: center;
}
.legenditem {
    min-height: 24px;
}
.legendfleft {
    float: left;
}
.legend16 {
    padding: 4px 8px 4px 4px;
}
.legend10 {
    padding: 3px 12px 3px 7px;
}
.legendptop {
    padding-top: 3px;
}

.visL {
    display: block;
}

.visS {
    display: none;
}

#sliderarea {
    position: absolute;
    left: 30px;
    top: 50px;
    display: inline-block;
}

.slidercombo {
    padding-left: 20px;
}

#slider {
    width: 120px;
    height: 14px;
}

.ui-slider.ui-slider-horizontal {
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(85,85,85), rgb(255,255,255), rgb(85,85,85));
}
.ui-slider-horizontal .ui-slider-handle {
    top: 1px;
    width: 16px;
    height: 12px;
    margin-left: -8px; /* minus half of width */
    outline: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(0,255,255), rgb(0,68,255), rgb(0,255,255));
}

.slider-tick {
    width: 0;
    height: 5px;
    float: left;
    border: 1px solid black;
}

#sliderltick {
    margin-left: 116px;
}

.sliderlabel {
    font-size: 110%;
    text-align: center;
    color: rgb(0,0,0);
    white-space: nowrap;
    cursor: pointer;
    float: left;
    margin-top: -1px;
}

.sliderFlabel {
    margin-left: -16px;
}
.sliderNlabel {
    margin-left: 93px;
}
.floatleft {
    float: left;
}
.clearleft {
    clear: left;
}

#bottomarea {
    /* absolute position and left, top values make sure the bottom area shows up at the same location between two scenes */
    position: absolute;
    border: 1px solid black;
    left: 0;
    top: 496px;
    width: 1222px;
    height: 296px;
    background-color: rgb(0,96,127);
    z-index: 1;
}

.introduction {
    width: 572px;
    font-size: 1.1em;
    text-align: justify;
    color: rgb(237,240,242);
    padding-left: 20px;
    padding-right: 20px;
}

#hydrographcanvas {
    border: none;
    position: absolute;
    left: 612px;
    top: 0;
    /* width and height sync with resizeCanvas() in laghydrograph.js; */
    width: 612px;
    height: 296px;
    display: block;
    background-color: transparent;
}

.hgLabel {
    position: absolute;
    font-size: 1em;
    color: rgb(237,240,242);
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    white-space: nowrap;
}
#lbStreamD {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    left: 592px;
    top: 70px;
}
#lbTime {
    left: 1022px;
    top: 155px;
}
#lbCurveN {
    font-size: 0.9em;
    left: 1067px;
    top: 8px;
}
#lbCurveF {
    font-size: 0.9em;
    left: 1067px;
    top: 38px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(237,240,242);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 100%;
    background-color: rgb(0,0,0);
    color: rgb(237,240,242);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: -50%;
    left: 105%;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;    
}
/* .tooltiptextleft is located to the left of the word */
.tooltip .tooltiptextleft {
    visibility: hidden;
    width: 200px;
    font-size: 100%;
    background-color: rgb(0,0,0);
    color: rgb(237,240,242);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: -50%;
    right: 105%;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip .tooltiptextleft::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptextleft {
    visibility: visible;
    opacity: 1;
}

#sdfareacanvas {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    /* width and height sync with resizeCanvas() in lagsdfarea.js; */
    width: 1224px;
    height: 496px;
    display: block;
    background: url('./images/DR.png');
    background-color: rgba(55,115,144,0.7);
    z-index: -1;
}

.button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    background-color: rgb(186,191,51);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(199,201,90);
}

.button:active {
    background-color: rgb(199,201,90);
    transform: translateY(4px);
}

#btntenfifty {
    position: absolute;
    left: 8px;
    top: 7px;
    display: block;
}

#btncompare {
    position: absolute;
    left: 1110px;
    top: 740px;
    display: block;
    padding: 3px 6px;
}

.well {
    position: absolute;
    margin: 0;
    width: 32px;
    height: 48px;
}

.infobox, .infoboxright {
    position: absolute;
    margin: 0;
    width: 200px;
    height: 90px;
    background-color: rgb(237,240,242);
    border: 2px solid rgb(185,200,211);
    border-radius: 5px;
}

.infobox::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(237,240,242) transparent transparent transparent;
}
.infoboxright::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(237,240,242) transparent transparent;
}

.infobox .ibcontent, .infoboxright .ibcontent {
    border-spacing: 0;
    color: black;
    font-size: 0.8em;
    text-align: left;
    white-space: nowrap;
    table-layout: fixed;
    width: 200px;
}

.ibcontent tr:first-child {
    background-color: rgb(104,140,165);
}
.ibcontent tr:nth-child(2) {
    background-color: rgb(255,200,67);
}
.ibcontent tr:nth-child(3) {
    background-color: rgb(186,191,51);
}

.ibcontent tr td {
    padding: 0 4px;
}
.ibcontent tr td:first-child {
    width: 80%;
}
.ibcontent tr td:nth-child(2) {
    width: 20%;
}

#closebtn {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: rgb(185,200,211);
    color: black;
    cursor: pointer;
    line-height: 0.8em;
}

#closebtn:hover {
    color: white;
}

.show {
    display:block;
}

/* beginning of Welcome Page */
#wpbkgshade {
    position: absolute;
    left: 0;
    top: 0;
    width: 1230px;
    height: 800px;
    display: block;
    background-color: rgba(185,200,211,0.7);
    z-index: 5; /* will change to -5 after initial appearance */
}
#wpwelcomepage {
    position: absolute;
    left: 288px;
    top: 84px;
    width: 648px;
}
#wpbranddesignimg {
    /* picture size: 648 x 73 */
    display: block;
}
#wpheadpane {
    margin-top: -1px;
    width: 648px;
    height: 31px;
    font-size: 1.3em;
    color: rgb(237,240,242);
    text-align: center;
    background-color: rgb(0,96,127);
}
#wpmainpane {
    border: 1px solid rgb(185,200,211);
    width: 608px;
    padding: 0 19px 19px 19px;
    font-size: 16px;
    text-align: justify;
    background-color: rgb(185,200,211);
}
#wpfootpane {
    width: 648px;
    height: 30px;
    font-size: 1.5em;
    color: rgb(237,240,242);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(0,96,127);
}
#wpfootpane:hover {
    background-color: rgb(55,115,144);
}
/* end of Welcome Page */
/* beginning of toggle switch button */
#pumponoffswitch {
    position: absolute;
    top: 110px;
    left: 148px;
}
.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 120px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, rgb(237,240,242), white);
    border-radius: 18px;
    box-shadow: 0 -1px 1px white inset, 0 1px 1px white inset;
    cursor: pointer;
}
.switchinput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switchlabel {
    position: relative;
    display: block;
    height: inherit;
    font-size: 14px;
    text-transform: uppercase;
    background: rgb(237,240,242);
    border-radius: inherit;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset, 0 0 2px rgba(0,0,0,0.1) inset;
}
.switchlabel:before, .switchlabel:after {
    position: absolute;
    top: 50%;
    margin-top: -.4em;
    line-height: 1;
    transition: inherit;
}
.switchlabel:before {
    content: attr(data-off);
    right: 11px;
    color: black;
}
.switchlabel:after {
    content: attr(data-on);
    left: 11px;
    color: black;
    opacity: 0;
}
.switchinput:checked ~ .switchlabel {
    background: rgb(238,236,208);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 0 3px rgba(0,0,0,0.2) inset;
}
.switchinput:checked ~ .switchlabel:before {
    opacity: 0;
}
.switchinput:checked ~ .switchlabel:after {
    opacity: 1;
}
.switchbtn {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, white 40%, rgb(237,240,242));
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.switchbtn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, rgb(237,240,242), white);
    border-radius: 6px;
    box-shadow: 0 1px rgba(0,0,0,0.2) inset;
}
.switchinput:checked ~ .switchbtn {
    left: 94px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
}
.switchlabel, .switchbtn {
    transition: All 0.3s ease;
}
/* end of toggle switch button */
